<div>
  <div class="container">
    <div class="text-center">
      <img v-show="profile.name" 
        :src="profilePicture" 
        alt="profile" 
        class="profile-picture" 
        width="100" />
      <h2 v-html="msg"></h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-2" v-if="!authorized">
        <button type="button" class="btn btn-outline-success" @click="login">Login</button>
      </div>

      <div class="col-2" v-else>
        <button type="button" class="btn btn-outline-success" @click="logout">Logout</button>
      </div>
    </div>
  </div>
</div>
